/*
 *Name: [Trenton Gregory]
 *UnityID: [tlgrego2]
 *Date: [11-08-2024]
 *Assignment: [Project 4]
 */
 

body{
    background: #BFA478;
}

.tableborder{
    border: 2px solid #000000; 
    
}

#photo-resize{
    max-width: 200px;
    max-height: 250px;
    border: 6px solid #00AA10;
}
