/*
 *Name: [Trenton Gregory]
 *UnityID: [tlgrego2]
 *Date: [11-08-2024]
 *Assignment: [Project 4]
 */
 

.class {
    background-color: #BFA478;
}

.table-border {
    border: 2px 
}

#photo resize {
    max-width: 200px;
    max-height: 250px;
    border: #00AA10;
}